# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyTorch weights and models
*.pth
*.pt

# Local result folders
results/
EEG_COPY/_temp_cs_data/

# Raw EEG Datasets
# BCI-4-2a/
# BCI_IV_1_mat/
# BCI -III-IVa/

# Preprocessed data outputs (highly recommended as they are large binary files)
processed_data/

# IDE configs
.vscode/
.idea/
.gemini/

# OS specific files
.DS_Store
Thumbs.db
